:root{
    --font-color:#e3e3e3;
    --font-color-title:#F8F8F2;
    --strong:#ff79c6;
    --em:#ff79c6;
    --code:#f8f8f2;
    --font-color-link:#06abf7;
    --background: #282A36;
    --background-secondary:#2e2e34;
}