:root{
    --font-color:#8b8f94;
    --font-color-title:#1d1e20;
    --strong:#e3116c;
    --em:#00009f;
    --code:#00009f;
    --font-color-link:#00a7d3;
    --background:#fffefe;
    --background-secondary:#0000000d;
}
